root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]

# 1. PascalCase
dotnet_naming_rule.pascal_case.severity = warning
dotnet_naming_rule.pascal_case.symbols = pascal_symbols
dotnet_naming_rule.pascal_case.style = pascal_style

dotnet_naming_symbols.pascal_symbols.applicable_kinds = class, struct, interface, enum, method, property, event, delegate
dotnet_naming_symbols.pascal_symbols.applicable_accessibilities = *
dotnet_naming_style.pascal_style.capitalization = pascal_case

# 2. s_ prefix for static vars
dotnet_naming_rule.static_field.severity = warning
dotnet_naming_rule.static_field.symbols = static_symbols
dotnet_naming_rule.static_field.style = static_style

dotnet_naming_symbols.static_symbols.applicable_kinds = field
dotnet_naming_symbols.static_symbols.required_modifiers = static
dotnet_naming_symbols.static_symbols.applicable_accessibilities = *
dotnet_naming_style.static_style.capitalization = camel_case
dotnet_naming_style.static_style.required_prefix = s_

# 3. _camelCase (private fields)
dotnet_naming_rule.private_field.severity = warning
dotnet_naming_rule.private_field.symbols = private_symbols
dotnet_naming_rule.private_field.style = private_style

dotnet_naming_symbols.private_symbols.applicable_kinds = field
dotnet_naming_symbols.private_symbols.applicable_accessibilities = private
dotnet_naming_style.private_style.capitalization = camel_case
dotnet_naming_style.private_style.required_prefix = _

# 4. camelCase for everything else
dotnet_naming_rule.camel_case.severity = warning
dotnet_naming_rule.camel_case.symbols = camel_symbols
dotnet_naming_rule.camel_case.style = camel_style

dotnet_naming_symbols.camel_symbols.applicable_kinds = parameter, local
dotnet_naming_symbols.camel_symbols.applicable_accessibilities = *
dotnet_naming_style.camel_style.capitalization = camel_case